@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap");
@font-face {
  font-family: "ArialRound";
  src: url(../fonts/ArialRoundedMTProCyr.otf); }

* {
  margin: 0%;
  padding: 0%; }

.head {
  width: 100%;
  height: 123px;
  background-color: #e5e5e5; }

.contain {
  width: 70%;
  margin: 0% auto;
  height: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

a {
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Slab";
  color: #4e4e4e;
  font-weight: bold;
  font-size: 16px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.logo {
  font-family: "Roboto Slab";
  color: #4e4e4e;
  font-weight: bold;
  font-size: 40px; }

.menu-li {
  list-style: none;
  font-family: "Roboto Slab";
  color: #4e4e4e;
  font-weight: bold;
  font-size: 16px; }

.menu-li:not(.lit) {
  margin-right: 15px; }

.menu-li:hover a {
  color: #1abb9c; }

.contain-too {
  width: 70%;
  margin: 0% auto; }

.back {
  height: 600px;
  width: 100%;
  background-image: url(../image/back.png);
  background-color: blue; }

.white-p {
  font-family: "Roboto Slab";
  color: #f3f3f3;
  font-weight: bold;
  font-size: 38px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 210px; }

.gray-p {
  font-family: "Roboto Slab";
  color: #a8a8a8;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  position: relative;
  top: 240px; }

.button {
  width: 140px;
  height: 45px;
  background-color: #3f8dbf;
  margin-left: 40%;
  position: relative;
  top: 270px; }

.button-p {
  font-family: "Roboto";
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-top: 15px; }

.contain-three {
  width: 70%;
  margin: 0% auto; }

.flex {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.category {
  width: 23%;
  height: 300px; }
  .category .elipse {
    position: relative;
    left: 50%;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    border-radius: 50%; }

.elipse-1 {
  background-color: #9d9abf; }

.elipse-2 {
  background-color: #d2514b; }

.elipse-3 {
  background-color: #66a3c6; }

.elipse-4 {
  background-color: #e8c04f; }

.el-img3 {
  margin: 25% 30%; }

.el-img1 {
  margin: 25% 35%; }

.el-img2 {
  margin: 30% 35%; }

.el-img4 {
  margin: 40% 30%; }

.category-h {
  font-family: "Roboto Slab";
  color: #4e4e4e;
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
  text-align: center; }

.category-p {
  font-family: "Roboto Slab";
  color: #616161;
  font-weight: bold;
  font-size: 14px;
  text-align: center; }

.line {
  width: 100%;
  height: 2px;
  opacity: 0.11;
  background-color: black; }

.contain-four {
  width: 70%;
  margin: 0% auto; }

.banners {
  margin-top: 100px;
  width: 32%;
  height: 460px; }

.banners-img1 {
  background-image: url(../image/b1.jpg);
  width: 100%;
  height: 270px;
  background-size: cover; }

.banners-img2 {
  background-image: url(../image/b2.jpg);
  width: 100%;
  height: 270px;
  background-size: cover; }

.banners-img3 {
  background-image: url(../image/b3.jpg);
  width: 100%;
  height: 270px;
  background-size: cover; }

a {
  text-decoration: none; }

.banners-h {
  font-family: "Roboto Slab";
  color: #4e4e4e;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px; }

.banners-p1 {
  font-family: "Roboto Slab";
  color: #a8a8a8;
  font-weight: bold;
  font-size: 13px;
  margin-top: 5px; }

.banners-p2 {
  font-family: "Roboto";
  color: #5c5c5c;
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px; }

.back2 {
  background-color: #e5e5e5; }

.contain-five {
  width: 70%;
  margin: 0% auto;
  height: 300px; }

.block-kav {
  font-family: "ArialRound";
  font-size: 120px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
  color: #dcdcdc; }

.block-txt {
  font-family: "Roboto Slab";
  color: #a1a1a1;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.back3 {
  background-color: #dcdcdc; }

.contain-six {
  width: 70%;
  margin: 0% auto; }

.foot-block {
  margin-top: 30px;
  width: 23%;
  height: 300px; }

.foot-h1 {
  font-family: "Roboto";
  color: #6c6c6c;
  font-weight: bold;
  font-size: 18px; }

.foot-txt {
  font-family: "Roboto";
  color: #cacaca;
  font-weight: bold;
  font-size: 14px; }

.pt {
  padding-top: 20px; }

.last {
  margin-top: 100px;
  padding-bottom: 80px; }

.geo::before {
  font-family: FontAwesome;
  content: "\f3c5";
  color: #a89574;
  padding-right: 10px; }

.date {
  padding-left: 20px; }

.tell::before {
  font-family: FontAwesome;
  content: "\f095";
  color: #a89574;
  padding-right: 9px; }

.sms::before {
  font-family: FontAwesome;
  content: "\f0e0";
  color: #a89574;
  padding-right: 9px; }

.twit {
  padding-left: 20px; }

.twit::before {
  font-family: FontAwesome;
  content: "\f099";
  color: #a89574;
  display: inline-block;
  margin-left: -17px; }

.latest {
  position: relative;
  top: 90px; }

.latest-p {
  font-family: "Roboto";
  color: #4e4e4e;
  font-weight: bold;
  font-size: 18px; }

.flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flexx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
  position: relative;
  display: none; }

.btn-line,
.btn-line::before,
.btn-line::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222; }

.btn-line::before,
.btn-line::after {
  content: "";
  display: block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.btn-line::before {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px); }

.btn-line::after {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px); }

.btn-line_active {
  height: 0; }

.btn-line_active::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.btn-line_active::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media screen and (max-width: 1200px) {
  .button {
    margin-left: 42%; } }

@media screen and (max-width: 961px) {
  .button {
    margin-left: 40%; }
  .flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .category {
    width: 45%;
    height: 300px; }
    .category .elipse {
      position: relative;
      left: 50%;
      margin-left: -45px;
      width: 90px;
      height: 90px;
      border-radius: 50%; } }

@media screen and (max-width: 874px) {
  .flexx {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .banners {
    width: 50%; }
  .latest {
    position: relative;
    top: 0px;
    left: 36%; }
  .white-p {
    top: 170px; }
  .gray-p {
    top: 190px; }
  .button {
    top: 200px; }
  .flex1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .foot-block {
    width: 70%;
    height: 200px; }
  .last {
    margin-top: 40px; }
  .line {
    margin-bottom: 60px; }
  .banners {
    margin-top: 0px; } }

@media screen and (max-width: 730px) {
  .banners {
    width: 70%; } }

@media screen and (max-width: 600px) {
  .banners {
    width: 80%; }
  .white-p {
    top: 150px; }
  .gray-p {
    top: 170px; }
  .button {
    top: 180px;
    margin-left: 36%; } }

@media screen and (max-width: 480px) {
  .white-p {
    top: 130px; }
  .gray-p {
    top: 150px; }
  .button {
    top: 160px;
    margin-left: 30%; }
  .latest {
    left: 25%; }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .category {
    width: 100%;
    height: 230px; }
  .back2 {
    height: 380px; } }

@media screen and (max-width: 462px) {
  .foot-block {
    height: 250px; } }

@media screen and (max-width: 400px) {
  .white-p {
    top: 70px;
    font-size: 36px; }
  .gray-p {
    top: 90px;
    font-size: 30px; }
  .button {
    top: 100px;
    margin-left: 25%; }
  .banners {
    width: 100%; } }

@media screen and (max-width: 338px) {
  .foot-block {
    width: 70%;
    height: 300px; }
  .back2 {
    width: 390px; } }
