@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap");
* {
  margin: 0%;
  padding: 0%; }

.head {
  width: 100%;
  height: 123px;
  background-color: #e5e5e5; }

.contain {
  width: 70%;
  margin: 0% auto;
  height: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.logo {
  font-family: "Roboto Slab";
  color: #4e4e4e;
  font-weight: bold;
  font-size: 40px; }

.menu-li {
  list-style: none;
  font-family: "Roboto Slab";
  color: #4e4e4e;
  font-weight: bold;
  font-size: 16px; }

.menu-li:not(.lit) {
  margin-right: 15px; }

.menu-li:hover {
  color: #1abb9c; }

.contain-too {
  width: 70%;
  margin: 0% auto; }

.back {
  height: 600px;
  width: 100%;
  background-image: url(../image/back.png);
  background-color: blue; }

.white-p {
  font-family: "Roboto Slab";
  color: #f3f3f3;
  font-weight: bold;
  font-size: 38px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 210px; }

.gray-p {
  font-family: "Roboto Slab";
  color: #a8a8a8;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  position: relative;
  top: 240px; }

.button {
  width: 140px;
  height: 45px;
  background-color: #3f8dbf;
  margin-left: 40%;
  position: relative;
  top: 270px; }

.button-p {
  font-family: "Roboto";
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-top: 15px; }

.contain-three {
  width: 70%;
  margin: 0% auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.category {
  width: 23%;
  height: 300px; }
  .category .elipse {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 30%; }

.elipse-1 {
  background-color: #9d9abf; }

.elipse-2 {
  background-color: #d2514b; }

.elipse-3 {
  background-color: #66a3c6; }

.elipse-4 {
  background-color: #e8c04f; }

.el-img3 {
  margin: 25% 30%; }

.el-img1 {
  margin: 25% 35%; }

.el-img2 {
  margin: 30% 35%; }

.el-img4 {
  margin: 40% 30%; }

.category-h {
  font-family: "Roboto Slab";
  color: #4e4e4e;
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
  text-align: center; }

.category-p {
  font-family: "Roboto Slab";
  color: #616161;
  font-weight: bold;
  font-size: 14px;
  text-align: center; }

.line {
  width: 100%;
  height: 2px;
  opacity: 0.11;
  background-color: black; }

.contain-four {
  width: 70%;
  margin: 0% auto; }

.banners {
  margin-top: 100px;
  width: 32%;
  height: 460px; }

.banners-img1 {
  background-image: url(../image/b1.jpg);
  width: 100%;
  height: 270px;
  background-size: cover; }

.banners-img2 {
  background-image: url(../image/b2.jpg);
  width: 100%;
  height: 270px;
  background-size: cover; }

.banners-img3 {
  background-image: url(../image/b3.jpg);
  width: 100%;
  height: 270px;
  background-size: cover; }

.banners-h {
  font-family: "Roboto Slab";
  color: #4e4e4e;
  font-weight: bold;
  font-size: 18px; }

.banners-p1 {
  font-family: "Roboto Slab";
  color: #a8a8a8;
  font-weight: bold;
  font-size: 13px; }

.banners-p2 {
  font-family: "Roboto";
  color: #5c5c5c;
  font-weight: bold;
  font-size: 14px; }

.back2 {
  background-color: #e5e5e5; }

.contain-five {
  width: 70%;
  margin: 0% auto;
  height: 230px; }

.block-kav {
  font-family: Arial;
  font-size: 100px;
  text-align: center;
  padding-top: 32px;
  color: #dcdcdc; }

.block-txt {
  font-family: "Roboto Slab";
  color: #a1a1a1;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.back3 {
  background-color: #dcdcdc; }

.contain-six {
  width: 70%;
  margin: 0% auto; }

.foot-block {
  margin-top: 30px;
  width: 23%;
  height: 300px; }

.foot-h1 {
  font-family: "Roboto";
  color: #6c6c6c;
  font-weight: bold;
  font-size: 18px; }

.foot-txt {
  font-family: "Roboto";
  color: #cacaca;
  font-weight: bold;
  font-size: 14px; }

.pt {
  padding-top: 20px; }

.last {
  padding-bottom: 50px; }

.geo::before {
  font-family: FontAwesome;
  content: "\f3c5";
  color: #a89574;
  padding-right: 10px; }

.date {
  padding-left: 20px; }

.tell::before {
  font-family: FontAwesome;
  content: "\f095";
  color: #a89574;
  padding-right: 9px; }

.sms::before {
  font-family: FontAwesome;
  content: "\f0e0";
  color: #a89574;
  padding-right: 9px; }

.twit::before {
  font-family: FontAwesome;
  content: "\f099";
  color: #a89574;
  padding-right: 9px; }

.twit {
  padding-left: 10px; }
